<h2>Products</h2>
<div *ngFor="let pro of products">
  <h2>  
    <a [title]="pro.name+' click 2 view '">
    {{pro.name}}
    </a>
  </h2>
  <p *ngIf="pro.description">
      Description : {{pro.description}}
  </p>
  <button (click)="share()"> Share</button>
  <app-product-alerts [pro]="pro" (noty)="onNotify()">
  </app-product-alerts>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->